.commView{
    .searwrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 500px;
    }
    .tableHeaders{
        display: flex;
        width: 100%;
        justify-content: space-around;
        >div{
            border-bottom: 1px solid #e8e8e8;
            padding: 10px;
        }
        >div:nth-child(1){
            // width: 20%;
            min-width: 180px;
        }
        >div:nth-child(2){
            width: 260px;
        }
        >div:nth-child(3){
            width: 120px;
        }
        >div:nth-child(4){
            flex:1;
            word-wrap:break-word;
            word-break:break-all;
        }
    }
    .tableContent{
        position: relative;
        max-height: 600px;
        width: 100%;
        >div>div{
            width: 100%;
        }
    }
    .demo-loadmore-list {
        min-height: 350px;
      }
    .demo-infinite-container {
        border: 1px solid #e8e8e8;
        border-radius: 4px;
        overflow: auto;
        padding: 8px 24px;
        height: 300px;
      }
      .demo-loading-container {
        position: absolute;
        bottom: 40px;
        width: 100%;
        text-align: center;
      }
    .ant-empty-image {
        height: 40px;
    }
    .ant-empty-description{
        color: rgba(0, 0, 0, 0.45);
    }
}
