.platformEvents{
  .searchBox{
    height: 45px;
    //margin: -10px 0 10px 0;
    position: relative;
  }
  .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    .ant-input-group{
      width: 300px;
    }

  }
  .overflow{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .hidden{
    display: none;
  }
  .posed{
    color: green;
  }
  .disposed{
    color: red;
  }
  .cursor{
    cursor: pointer;
  }
  .SonTables{
    ul>li{
      line-height: 30px;
      >span{
        display: inline-block;
        width: 170px;
        text-align: right;
        margin-right: 20px;
      }
    }
  }
}