.login{
  width: 100vw;
  height: 100vh;
  .header{
    width: 100%;
    height: 7.3%;
    background-color: transparent;
    border-bottom: 1px solid #606165;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    >p {
      display: inline-block;
      color: #fff;
      font-size: 22px;
      width: 200px;
      height: 60px;
      line-height: 60px;
      position: absolute;
      top: 0;
      left: 30px;
      z-index: 100;
    }
  }
  .main{
    position: absolute;
    top: 20%;
    left: 50%;
    right: 0;
    margin-left: -225px;
    .tabs{
      width: 390px;
      padding: 10px 30px 0 30px;
      background-color: #fff;
      .title{
        line-height: 50px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
      }
    }
  }
}

.ant-input-affix-wrapper .ant-input:not(:first-child){
  padding-left: 40px;
}

