.ModbusModal{
  p{
    padding: 10px;
  }
  .ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    width: 100%;
    // line-height: 160px;
    // background: #364d79;
    overflow: hidden;
  }

  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .ant-select{
    width: 200px!important;
  }
  .ant-form-item-control-wrapper {
    display: inline-block;
  }
  .ant-form-item-label {
    text-align: left;
  }
  .ant-form-item{
    width: 30%;
  }
  .ant-form-inline .ant-form-item > .ant-form-item-control-wrapper, .ant-form-inline .ant-form-item > .ant-form-item-label {
    display: block;
  }
}
.templateList{
  width: 1030px!important;
}
.ant-table-tbody > tr > td {
  word-wrap: break-word;
  word-break: break-all;
  }