.userSettings{
  >div{
    padding-bottom: 20px;
    >p:nth-child(1){
      line-height: 50px;
      font-size: 20px;
      color: #666;
      >span{
        padding-right: 10px;
        color: #333333;
      }
    }
    >p:nth-child(2), >p:nth-child(3){
      line-height: 40px;
      border-bottom: 1px solid #cccccc;
      >span:nth-child(1){
        display: inline-block;
        width: 100px;
        font-weight: 600;
      }
    }
  }

}