.AppCard{
    width: 21%;
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    border: 1px solid #eee;
    border-top: 3px solid #3c8dbc;
    border-radius: 5px;
    margin-bottom: 15px;
    >div{
        padding: 10px 0;
    }
    .online{
        display: inline-block;
        padding: 2px 30px;
        background:#00a65a;
        color:#fff;
    }
    .offline{
        display: inline-block;
        padding: 2px 30px;
        background:#f39c12;
        color:#fff;
    }
    .positon{
            width: 14px;
            height: 14px;
            border:2px solid #ccc;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            position: relative;
        span{
            position: absolute;
            display: inline-block;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 6px;
            height: 6px;
            background: #ccc;
            border-radius: 50%;
        }
    }
}