.light-row{
    background:#f9f9f9;
}
.collapseHead{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >i{
        padding: 0 20px;
        font-size: 16px;
    }
}