.AppInstall{
  .listbutton{
    position:fixed;
    left:80px;
    top:350px;
    z-index: 999;
    height:40px;
    width: 40px;
    text-align: center;
    padding:0;
    .anticon{
      color:#fff;
      font-size: 16px;
    }
  }
  .searchlist{
    width: 100%;
    position: relative;
    text-align: right;
  }
  display: flex;
  justify-content: right;
  width: 100%;
  margin-top: 20px;
  .show{
    flex:1;
  }
  .error{
    color: red;
    padding: 0 10px;
  }
  .message{
    width: 100%;
    line-height: 200px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
}
pre{
  background:#eee;
}
.installheader{
  position: relative;
  top: -10px;
  display: flex;
  .selectlist{
    display: flex;
  }
}
.show{
  display: block;
  margin-top: 15px;
  margin-left: 20px;
}
.hide{
  display: none;
}
.installcontent{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .item{
    width: 222px;
    height: 215px;
    padding: 10px;
    margin:10px;
    line-height: 1.5;
    background-color: #fff;
    border:1px solid #eee;
    cursor: pointer;
    &:hover{
      box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    }
    img{
      display: block;
      height: 96px;
      width:96px;
      margin: 0 auto;
    }
    .apptitle{
      margin-top: 25px;
      padding:10px;
      background:#f6f6f6;
      font-size: 12px;
      font-weight: 600;
      p:hover{
        color:#3c8dbc;
      }
      div{
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        span{
          display: block;
          border:1px solid #ccc;
          font-size: 14px;
          padding: 3px 7px;
          border-radius: 5px;
          &:hover{
            background: #ddd;
            border:1px solid #ccc;
          }
        }
      }
      .ant-rate li{
        margin-right: 0px;
      }
    }
  }

}
.appsdetail{
  position: relative;
  .installbtn{
    position: absolute;
    right:80px;
    top:10px;
  }
  .installapp{
    padding: 15px 0;
  }
  .back{
    position: absolute;
    right:10px;
    top:10px;
    color:blue;
  }
  .detail{
    p{
      padding: 2px 0;
    }
  }
  .spanStyle{
    display: inline-block;
    min-width: 100px;
    font-weight: 600;
  }
  .sectionName{
    line-height: 50px;
  }
  .display{
    display: flex;
  }

}
.linkSelectionWeb {
  .ant-modal-body {
    padding: 10px 0;
  }
}
.linkSelection{
  width: 100%;
  >li{
    line-height: 40px;
    padding-left: 20px;
    cursor: pointer;
    >i{
      font-size: 16px;
      padding: 0 10px;
      position: relative;
      top: 1px;
    }
  }
  >li:hover{
    background-color: rgb(230, 247, 255);
  }

}
